<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up Form </title>

  <!-- Font Icon -->
  <link rel="stylesheet" href="/registrationForm/fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/registrationForm/vendor/nouislider/nouislider.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="/registrationForm/css/style.css">
</head>

<body>

  <div class="main">

    <div class="container">
      <div class="signup-content">
        <div class="signup-img">
          <img src="/registrationForm/images/form-img.jpg" alt="">
          <div class="signup-img-content">
            <h2>Войди путник </h2>
            <p> пока еще есть куда входить !</p>
          </div>
        </div>
        <div class="signup-form">
          <form method="POST" action="/users/login" class="register-form" id="register-form">
            <div class="form-row">
              <div class="form-group">
                <div class="form-input">
                  <label for="email" class="required">Email</label>
                  <input type="email" name="email" id="email" />
                </div>
                <div class="form-input">
                  <label for="password" class="required">Пароль</label>
                  <input type="password" name="password" id="password" />
                </div>
                <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
              </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!-- JS -->
  <script src="/registrationForm/vendor/jquery/jquery.min.js"></script>
  <script src="/registrationForm/vendor/nouislider/nouislider.min.js"></script>
  <script src="/registrationForm/vendor/wnumb/wNumb.js"></script>
  <script src="/registrationForm/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/registrationForm/vendor/jquery-validation/dist/additional-methods.min.js"></script>
  <script src="/registrationForm/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
